<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>05d316d3-4bc9-4d7e-8b8f-f8379d52bce9</Subscribers>
    </Event>
    <Event>
      <EventName>Application_Start_FirstRequest</EventName>
      <Subscribers>05d316d3-4bc9-4d7e-8b8f-f8379d52bce9</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>05d316d3-4bc9-4d7e-8b8f-f8379d52bce9</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>1A3A89EFF26374EF644F35EBD1758491</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
